<div nz-row>
  <div nz-col nzSpan="24">
    <img alt="{{card.name}}" src="{{card.image}}" />
  </div>
</div>
<div *ngIf="card?.information">
  <div nz-row>
    <div nz-col nzSpan="24">
      <h3 [ngStyle]="{ 'margin-bottom.px': 16, 'margin-top.px': 16 }">{{card.name}}</h3>
      <nz-list nzBordered>
        <nz-list-item>
          <span nz-typography><mark>Description</mark></span>
          {{card.description}}
        </nz-list-item>
        <nz-list-item>
          <span nz-typography><mark>Kingdom</mark></span>
          {{card.information.kingdom}}
        </nz-list-item>
        <nz-list-item>
          <span nz-typography><mark>Health</mark></span>
          {{card.information.health}}
        </nz-list-item>
        <nz-list-item>
          <span nz-typography><mark>Gender</mark></span>
          {{card.information.gender}}
        </nz-list-item>
        <nz-list-item>
          <span nz-typography><mark>Expansion</mark></span>
          {{card.information.expansion}}
        </nz-list-item>
      </nz-list>
    </div>
  </div>
</div>
<div *ngIf="card?.skill">
  <div nz-row>
    <div nz-col nzSpan="24">
      <h3 [ngStyle]="{ 'margin-bottom.px': 16, 'margin-top.px': 16 }">Skills</h3>
      <nz-list nzBordered>
        <nz-list-item *ngFor="let skill of card.skill">
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <h4>{{skill.name}}</h4>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              {{skill.description}}
            </nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </div>
  </div>
</div> 
<div *ngIf="card?.clarification">
  <div nz-row>
    <div nz-col nzSpan="24">
      <h3 [ngStyle]="{ 'margin-bottom.px': 16, 'margin-top.px': 16 }">
        Clarification
      </h3>
      <nz-list nzBordered>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <h4>Retaliation</h4>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              <ul>
                <li>{{card.clarification.content}}</li>
              </ul>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <h3 [ngStyle]="{ 'margin-bottom.px': 16, 'margin-top.px': 16 }">
        Strength
      </h3>
      <nz-list nzBordered>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-description>
              <ul>
                <li>{{card.clarification.strength}}</li>
              </ul>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <h3 [ngStyle]="{ 'margin-bottom.px': 16, 'margin-top.px': 16 }">
        Weakness
      </h3>
      <nz-list nzBordered>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-description>
              <ul>
                <li>{{card.clarification.weakness}}</li>
              </ul>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </div>
  </div>
</div>
<div *ngIf="card?.combination">
  <div nz-row>
    <div nz-col nzSpan="24">
      <h3 [ngStyle]="{ 'margin-bottom.px': 16, 'margin-top.px': 16 }">
        Notable Combinations
      </h3>
      <nz-list nzBordered>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-description>
              <ul>
                <li>{{card.combination.content}}</li>
              </ul>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </div>
  </div>
</div>