<nz-list nzGrid>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="4">
      <nz-list-item>
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Tư Mã Ý" nzDescription="The Devil with Eyes Behind his Head"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="Tư Mã Ý" src="assets/img/sima-yi.jpg" />
        </ng-template>
      </nz-list-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-list-item>
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Tư Mã Ý" nzDescription="The Devil with Eyes Behind his Head"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="Tư Mã Ý" src="assets/img/sima-yi.jpg" />
        </ng-template>
      </nz-list-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-list-item>
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Tư Mã Ý" nzDescription="The Devil with Eyes Behind his Head"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="Tư Mã Ý" src="assets/img/sima-yi.jpg" />
        </ng-template>
      </nz-list-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-list-item>
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Tư Mã Ý" nzDescription="The Devil with Eyes Behind his Head"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="Tư Mã Ý" src="assets/img/sima-yi.jpg" />
        </ng-template>
      </nz-list-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-list-item>
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Tư Mã Ý" nzDescription="The Devil with Eyes Behind his Head"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="Tư Mã Ý" src="assets/img/sima-yi.jpg" />
        </ng-template>
      </nz-list-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-list-item>
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Tư Mã Ý" nzDescription="The Devil with Eyes Behind his Head"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="Tư Mã Ý" src="assets/img/sima-yi.jpg" />
        </ng-template>
      </nz-list-item>
    </div>
  </div>
</nz-list>
<br>
<br>
<div nz-row>
  <div nz-col nzSpan="6"><img alt="Tư Mã Ý" src="assets/img/sima-yi.jpg" /></div>
  <div nz-col nzSpan="6">
    <h3 [ngStyle]="{ 'margin-bottom.px': 16 }">Tu Ma Y</h3>
    <nz-list nzBordered>
      <nz-list-item>
        <span nz-typography><mark>Kingdom</mark></span>
        Wei
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><mark>Health</mark></span>
        3
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><mark>Gender</mark></span>
        Male
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><mark>Ruler</mark></span>
        No
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><mark>KW</mark></span>
        Yes
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><mark>1v1</mark></span>
        Yes
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><mark>3v3</mark></span>
        Yes
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><mark>4v4</mark></span>
        No
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><mark>4v4</mark></span>
        Yes
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><mark>Expansion</mark></span>
        [基本] Basic
      </nz-list-item>
    </nz-list>
  </div>
  <div nz-col nzSpan="10" [ngStyle]="{ 'margin-left.px': 16 }">
    <h3 [ngStyle]="{ 'margin-bottom.px': 16 }">Skills</h3>
    <nz-list nzBordered>
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            <h4>Retaliation</h4>
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            After you suffer DMG: you can take 1 card from the damage source.
          </nz-list-item-meta-description>
        </nz-list-item-meta>
      </nz-list-item>
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            <h4>Demonic Talent</h4>
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            When a player performs a judgement, before it takes effect: you can play a hand card. It becomes the judgement result.
          </nz-list-item-meta-description>
        </nz-list-item-meta>
      </nz-list-item>
    </nz-list>
  </div>
</div>