<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <img src="assets/img/Wiki-0.png" alt="" srcset="" class="logo"/>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="home"></i>
        <span>Trang chủ</span>
      </li>
      <li nz-submenu nzTitle="Tướng" nzIcon="user">
        <ul>
          <li nz-menu-item>Nguỵ</li>
          <li nz-menu-item>Thục</li>
          <li nz-menu-item>Ngô</li>
          <li nz-menu-item>Quần hùng</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Thẻ bài" nzIcon="tool">
        <ul>
          <li nz-menu-item>Cơ bản</li>
          <li nz-menu-item>Trang bị</li>
          <li nz-menu-item>Công cụ</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>Hướng dẫn</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <app-dashboard></app-dashboard>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>